{% extends "base.html" %}
{% block content %}
   ESTO ES EL HOME
   <hr>
   <div>
      <a href="{% url 'puradata:add_customer' %}">Añadir Cliente</a>
   </div>
   <div>
      <a href="{% url 'puradata:add_order' %}">Añadir Orden de Pago</a>
   </div>
   <div>
      <a href="{% url 'puradata:add_product' %}">Añadir Producto</a>
   </div>
   <div>
      <a href="{% url 'puradata:add_category' %}">Añadir Categoria</a>
   </div>
   <div>
      <a href="{% url 'puradata:add_professional' %}">Añadir Profesional</a>
   </div>
   <div>
      <a href="{% url 'puradata:add_professional_payment' %}">Añadir Pago hacia profesional</a>
   </div>
{% endblock content %}
